altgraph==0.10.2
apache-libcloud==2.2.1
astroid==1.6.3
autopep8==1.4.4
backports-abc==0.5
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
beautifulsoup4==4.6.3
bonjour-py==0.3
bottle==0.12.16
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Click==7.0
configparser==3.5.0
Django==2.2.24
django-auth-ldap==1.3.0
django-constance==2.2.0
django-cors-headers==2.2.0
django-filter==1.1.0
django-nose==1.4.6
django-picklefield==1.0.0
djangorestframework==3.6.4
djangorestframework-filters==0.10.2
djangorestframework-jwt==1.11.0
Eel==0.10.4
enum34==1.1.6
Flask==1.1.1
flexmock==0.10.2
future==0.17.1
futures==3.2.0
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.6
isort==4.3.4
itchat==1.2.32
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
ldap==1.0.2
ldap3==2.5
macholib==1.5.1
MarkupSafe==1.0
matplotlib==1.3.1
mccabe==0.6.1
modulegraph==0.10.4
Naked==0.1.31
netaddr==0.7.19
netifaces==0.10.9
nose==1.3.7
numpy==1.8.0rc1
pexpect==4.7.0
prettytable==0.7.2
ptyprocess==0.6.0
py2app==0.7.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.5.0
pycrypto==2.6.1
PyJWT==1.6.1
pyldap==3.0.0
pylint==1.8.4
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyp2rpm==3.3.2
pyparsing==2.0.1
pypng==0.0.19
PyQRCode==1.2.1
pytest-runner==4.2
python-dateutil==1.5
python-ldap==3.0.0
python-redmine==2.2.1
pytz==2013.7
PyYAML==3.12
requests==2.22.0
scipy==0.13.0b1
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.4.1
sshuttle==0.78.4
tornado==5.0.2
urllib3==1.22
wakeonlan==1.1.6
web.py==0.39
Werkzeug==0.15.4
whichcraft==0.5.2
wrapt==1.10.11
wxpy==0.3.9.8
xattr==0.6.4
